<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IIIF test</title>
    <link rel="stylesheet" href="">

    <!-- development version, includes helpful console warnings-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js" integrity="sha256-ui3vFTgbIIvd9ePh+wF+ju05O3jympV4FyFlpNMV2cw=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.0/openseadragon.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css">
    
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<style type="text/css" media="screen">
        #app {
            padding: 2em;
        }
        h2 {
            border-bottom: 1px solid #888;
        }
    </style>
</head>
<body>
<div id="app">
    <main-view></main-view>
</div>
<script>

Vue.component('main-view', {
    template: `
        <div>
            <h2 class="my-3">Load Alma Digital representation</h2>
            <form class="d-flex" @submit.prevent="loadManifest()">
                <input
                    v-model="representation_input"
                    type="text" 
                    class="form-control m-1"
                    placeholder="Alma Representation ID"
                >
                <button 
                    @click="loadManifest()" 
                    class="btn btn-primary m-1"
                >Open</button>
            </form>

            <div v-if="representation">
                <manifest-viewer :representation="representation"></manifest-viewer>        
            </div>
        </div>
    `,
    data () {
        return {
            representation: null,
            representation_input: '12247661610002204'
        }
    },
    methods: {
        loadManifest () {
            this.representation = this.representation_input
        }
    },
    mounted () {
        this.loadManifest()
    },
})

Vue.component('manifest-viewer', {
    props: {
        representation: String
    },
    data () {
        return {
            canvases: [],
            activeCanvas: null,
        }
    },
    template: `
        <div>
            <div class="flex my-3">
                <button v-for="canvas in canvases"
                    style="width: 10rem" 
                    class="p-2 mr-1 transition duration-400 rounded ease-out border-solid border-2 border-gray-200"
                    :class="{'border-gray-600': activeCanvas == canvas, 'bg-gray-100': activeCanvas == canvas}"
                    @click="activeCanvas = canvas"
                >
                    <img :src="canvas.thumbnail['@id']" :alt="canvas.label" class="object-contain w-full" style="height: 8rem">
                    <div class="text-sm text-center text-gray-900 pt-1">
                        {{ canvas.label }}                
                    </div>
                </button>
            </div>

            <div class="my-3">        
                <h2>OpenSeadragon</h2>
                <opensea-viewer :canvas="activeCanvas"></opensea-viewer>
            </div>
        </div>
    `,
    mounted () {
        this.initialize()
    },
    watch: {
        representation (newValue, oldValue) {
            this.initialize()
        }
    },
    methods: {
        initialize () {
            console.log('Load manifest for represenation: ' + this.representation)
            const http = axios.create({credentials: true})
            this.instance = null

            // Get IIIF Manifest
            http.get(`https://bibsys-k.userservices.exlibrisgroup.com/view/iiif/presentation/${this.representation}/manifest`)
                .then(res => res.data)
                .then(manifest => {
                    console.log(manifest)
                    this.canvases = manifest.sequences[0].canvases
                    this.activeCanvas = this.canvases[0]
                })
        },
    },
})

Vue.component('opensea-viewer', {
    props: {
        canvas: Object,
    },
    template: `
        <div>
            <div class="my-3 border border-gray-300">
                <div ref="viewer" style="width: 100%; height: 500px; background: black; color: white"></div>
            </div>
            <p>
                If the view above does not load, it's because the tile URLs are not active.
                Try <a class="text-blue-500 hover:underline" target="_blank" :href="'https://bibsys-k.alma.exlibrisgroup.com/view/UniversalViewer/47BIBSYS_UBO/' + this.representation">opening the Alma Universal Viewer first</a>, wait a few seconds, then reload <em>this</em> page, and it should magically work.
            </p>
        </div>
    `,
    mounted () {
        this.initialize()
    },
    watch: {
        canvas (newValue, oldValue) {
            this.initialize()
        }
    },
    methods: {
        initialize () {
            if (this.instance) {
                this.instance.destroy()
            }
            if (!this.canvas) {
                return
            }

            const imageServiceUrl = this.canvas.images[0].resource.service['@id'];

            // Ref: https://openseadragon.github.io/docs/OpenSeadragon.html
            this.instance = OpenSeadragon({
                element: this.$refs.viewer,
                tileSources: [
                    imageServiceUrl,
                ],
                sequenceMode: false,

                // 'https://bibsys.alma.exlibrisgroup.com/view/iiif/presentation/47BIBSYS_UBO/12223144170002204/manifest',
                debugMode: false,

                showNavigationControl: false,

                // We don't want to allow zooming outside of what's filling the window
                minZoomImageRatio: 1.0,

                // The percentage (as a number from 0 to 1) of the source image which must
                // be kept within the viewport. If the image is dragged beyond that limit,
                // it will 'bounce' back until the minimum visibility ratio is achieved.
                visibilityRatio: 1.0,
            })        
        },
    },
})

const app = new Vue({
    el: '#app',
})

</script>
</body>
</html>
