[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pydash = "*"
lxml = "*"
python-dotenv = "*"
requests = "*"
boto3 = "*"
addict = "*"
rnc2rng = "*"

[requires]
python_version = "3.7"
